body{
  color: cornflowerblue;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}