body{
  color: cornflowerblue;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

h1 {
  font-size: 12rem;
  margin: 0
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

section div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem
}

#vidDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}